/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --bg-color: hsl(220, 10%, 96%);
    --grey-line-color: hsl(0, 0%, 89%);
    --green-price-color: hsl(144, 81%, 40%);
    --100-white-color: hsl(0, 0%, 100%);
    --100-black-color: hsl(0, 0%, 0%);
    --dark-color: hsl(0, 0%, 20%);
    --middle-grey-color: hsl(0, 0%, 52%);
    --super-light-color: hsl(240, 11%, 98%);
    --red-color: hsl(0, 100%, 63%);
    --light-red-color: hsl(0, 100%, 69%);
    --blue-color: hsl(194, 100%, 43%);
    --01-simple-color: hsl(194, 65%, 87%);
    --02-simple-color: hsl(25, 89%, 96%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "IBM Plex Sans", sans-serif;
    --32-font-size: 2rem; // 32px
    --24-font-size: 1.5rem; // 24px
    --19-font-size: 1.187rem; // 19px
    --18-font-size: 1.125rem; // 18px
    --16-font-size: 1rem; //16px
    --15-font-size: .937rem; // 15px
    --13-font-size: .812rem; // 13px
    --14-font-size: .875rem; // 14px
    --11-font-size: .687rem; // 11px
  
    /*========== Font weight ==========*/
    --reg-font-weight: 400;
    --med-font-weight: 500;
    --semi-font-weight: 600;
  
    /*========== z index ==========*/
    --z-index-10: 10;
    --z-index-100: 100;
    --z-index-1000: 1000;
  }
  
/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--18-font-size);
    background-color: var(--bg-color);
    color: var(--dark-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--semi-font-weight);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

input, button {
    font-family: var(--body-font);
    outline: none;
    border: none;
    cursor: pointer;
}

/*=============== READY ELEMENTS ===============*/
.font_32_semi_100_black {
    font-size: var(--32-font-size);
    font-weight: var(--semi-font-weight);
    color: var(--100-black-color);
}

.font_16_med_light_red {
    font-size: var(--16-font-size);
    font-weight: var(--med-font-weight);
    color: var(--light-red-color);
}

.font_14_med_100_white {
    font-size: var(--14-font-size);
    font-weight: var(--med-font-weight);
    color: var(--100-white-color);
}

.new_search_field {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--100-white-color);
    border-radius: 8px;
    border: 1px solid var(--grey-line-color);
    padding: 0px 12px;
    width: 100%;
    height: 42px;
    cursor: default;

    .input_field {
        width: 100%;
        height: 80%;
        cursor: default;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.new_search_field:hover {
    box-shadow: 0px 10px 13px 0px rgba(27, 44, 49, 0.04);
}

.search_black {
    display: none;
    opacity: 0;
}

.chosen {
    background-color: var(--light-red-color);
    border-radius: 16px;
    padding: 4px 16px;
    
    font-size: var(--16-font-size);
    font-weight: var(--med-font-weight);
    color: var(--100-white-color);
}

.not_chosen {
    background-color: transparent;

    font-size: var(--14-font-size);
    font-weight: var(--semi-font-weight);
    color: var(--light-red-color);
}

@keyframes slideIn {
    from {
      transform: translateX(0);
      opacity: 0;
    }
    to {
      transform: translateX(-0%);
      opacity: 1;
    }
}

body {
    section {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 56px 42px 42px 42px;


        .upper_texts {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;

            a, .font_16_med_light_red {
                display: inline-block;
                width: 92px;
                height: 23px;
            }
        }

        .below_section {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            width: 100%;
            gap: 0px;

            .btn_transparent {
                display: flex;

                .clip_path_btn_data {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 200px;
                    height: 56px;
                    cursor: pointer;

                    h3 {
                        font-size: var(--16-font-size);
                        font-weight: var(--med-font-weight);
                        color: var(--middle-grey-color);
                        z-index: var(--z-index-100);
                    }
                }

                .clip_path_btn_documents {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 4em;
                    width: 140px;
                    line-height: 2;
                    height: 56px;
                    position: relative;
                    border-radius: .3em .3em 0 0;
                    background-color: var(--100-white-color);
                    color: var(--dark-color); 
                    margin-left: 36px;
                    cursor: pointer;
                    
                    &:before {
                        content:'';
                        position: absolute;
                        left: -.5em;
                        width: 40px;
                        height: 56px;
                        background-color: var(--100-white-color);
                        border-radius: 16px 0 0 0;
                        bottom: 0;
                        transform:skew(-22deg);
                        transform-origin:bottom left;
                    }

                    &:after {
                        content:'';
                        position: absolute;
                        right: -.5em;
                        width: 40px;
                        height: 56px;
                        background-color: var(--100-white-color);
                        border-radius: 0 16px 0 0;
                        bottom: 0;
                        transform: skew(22deg);
                        transform-origin:bottom right;
                    }

                    h3 {
                        font-size: var(--16-font-size);
                        font-weight: var(--med-font-weight);
                        color: var(--dark-color); 
                    }
                }               
            }

            .main_cont {
                display: flex;
                flex-direction: column;
                background-color: var(--100-white-color);
                border-radius: 16px;
                gap: 0px;
                padding: 0;
                width: 100%;

                .hint_block {
                    display: none;
                    align-items: center;
                    padding: 16px;
                    background-color: rgba(242, 249, 255, 1);
                    border-radius: 8px;
                    gap: 16px;
                    opacity: 1;
                    transition: opacity 100ms ease-in-out;
                    margin: 32px 37px 0px 37px;
                    
                    h3 {
                        font-size: var(--15-font-size);
                        font-weight: var(--reg-font-weight);
                        color: rgba(106, 143, 174, 1);    
                        width: 100%;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .title_doc {
                    display: flex;
                    justify-content: space-between;
                    padding: 24px 0px 10px 37px;
                    border-bottom: 1px solid rgba(243, 244, 245, 1);
                    width: 100%;

                    h3, h4 {
                        font-size: var(--16-font-size);
                        font-weight: var(--med-font-weight);
                        color: var(--dark-color);
                    }

                    h4 {
                        position: absolute;
                        margin-left: calc(100% * 0.674);
                    }
                }

                .docs {
                    display: flex;
                    flex-direction: column;

                    .doc {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 48px;
                        padding: 12px 37px;
                        border-bottom: 1px solid rgba(243, 244, 245, 1);
                        width: 100%;
                        height: 100%;

                        .left_part {
                            display: flex;
                            align-items: center;
                            gap: 16px;
                            width: calc(100% * .570);
    
                            h3 {
                                font-size: var(--15-font-size);
                                font-weight: var(--reg-font-weight);
                                color: var(--light-red-color);
                                width: 100%;
                            }

                            .grey_text {
                                color: var(--middle-grey-color); 
                            }
                        }

                        .right_part {
                            display: flex;
                            align-items: center;
                            gap: 12px;

                            .green_text_opening_signed {
                                font-size: var(--15-font-size);
                                font-weight: var(--reg-font-weight);
                                color: var(--green-price-color);
                                opacity: 0;
                                transition: all 0.3s ease-in-out;
                                transform: translateX(10%);
                            }

                            .Arrow_down_green_icon_signed {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            .animate {
                                transform: translateX(0);
                                opacity: 1;
                            }
                        }

                        .date {
                            font-size: var(--15-font-size);
                            font-weight: var(--med-font-weight);
                            color: var(--middle-grey-color);
                            margin-left: calc(100% * 0.674);
                            position: absolute;
                        }

                        .Delete_red_icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .load_btn {
                            padding: 12px 24px;
                            background-color: var(--light-red-color);
                            border-radius: 8px;
                            font-size: var(--14-font-size);
                            font-weight: var(--med-font-weight);
                            color: var(--100-white-color);
                        }
                    }

                    .last_one {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}