/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --bg-color: hsl(220, 10%, 96%);
  --grey-line-color: hsl(0, 0%, 89%);
  --green-price-color: hsl(144, 81%, 40%);
  --100-white-color: hsl(0, 0%, 100%);
  --100-black-color: hsl(0, 0%, 0%);
  --dark-color: hsl(0, 0%, 20%);
  --middle-grey-color: hsl(0, 0%, 52%);
  --super-light-color: hsl(240, 11%, 98%);
  --red-color: hsl(0, 100%, 63%);
  --light-red-color: hsl(0, 100%, 69%);
  --blue-color: hsl(194, 100%, 43%);
  --01-simple-color: hsl(194, 65%, 87%);
  --02-simple-color: hsl(25, 89%, 96%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "IBM Plex Sans", sans-serif;
  --32-font-size: 2rem;
  --24-font-size: 1.5rem;
  --18-font-size: 1.125rem;
  --16-font-size: 1rem;
  --15-font-size: .937rem;
  --13-font-size: .812rem;
  --14-font-size: .875rem;
  --11-font-size: .687rem;
  /*========== Font weight ==========*/
  --reg-font-weight: 400;
  --med-font-weight: 500;
  --semi-font-weight: 600;
  /*========== z index ==========*/
  --z-index-10: 10;
  --z-index-100: 100;
  --z-index-1000: 1000;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--18-font-size);
  background-color: var(--bg-color);
  color: var(--dark-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--semi-font-weight);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

input, button {
  font-family: var(--body-font);
  outline: none;
  border: none;
  cursor: pointer;
}

.spec_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  gap: 16px;
}
.spec_block .message_block {
  display: flex;
  gap: 12px;
  width: 100%;
}
.spec_block .message_block img {
  width: 38px;
  height: 38px;
}
.spec_block .message_block .right_cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
}
.spec_block .message_block .right_cont .two_upper_texts {
  display: flex;
  flex-direction: column;
}
.spec_block .message_block .right_cont .two_upper_texts h3 {
  font-size: var(--15-font-size);
  font-weight: var(--med-font-weight);
  color: var(--dark-color);
}
.spec_block .message_block .right_cont .two_upper_texts h4 {
  font-size: var(--15-font-size);
  font-weight: var(--reg-font-weight);
  color: var(--dark-color);
}
.spec_block .message_block .right_cont h1 {
  font-size: var(--12-font-size) !important;
  font-weight: var(--reg-font-weight);
  color: var(--middle-grey-color);
}

.below_text_h1 {
  font-size: var(--12-font-size);
  font-weight: var(--reg-font-weight);
  color: var(--middle-grey-color);
}

.profile, .out {
  cursor: pointer;
}

.logo {
  cursor: pointer;
}

body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  padding: 0px 41px 0px 41px;
  background-color: var(--100-white-color);
}
body header .right_cont {
  display: flex;
  align-items: center;
  gap: 24px;
}
body header .right_cont ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  font-size: var(--16-font-size);
  font-weight: var(--med-font-weight);
  color: black;
}
body header .right_cont ul li a {
  font-size: var(--16-font-size);
  font-weight: var(--med-font-weight);
  color: var(--dark-color);
}
body header .right_cont .settings {
  display: flex;
  align-items: center;
  gap: 24px;
}
body header .right_cont .settings .logo_and_options {
  display: flex;
  align-items: center;
  gap: 8px;
}
body header .right_cont .settings .logo_and_options .text_icon {
  display: flex;
  align-items: center;
  gap: 4px;
}
body header .right_cont .settings .logo_and_options .text_icon h4 {
  font-size: var(--16-font-size);
  font-weight: var(--med-font-weight);
}
body header .right_cont .settings .two_icons {
  display: flex;
  gap: 1rem;
  position: relative;
}
body header .right_cont .settings .two_icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 38px;
  min-height: 38px;
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid var(--light-red-color);
}
body header .right_cont .settings .two_icons .icon .img {
  min-width: 24px;
  min-height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
body header .right_cont .settings .two_icons .amount_messages {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 22px;
  min-height: 22px;
  border-radius: 100%;
  position: absolute;
  margin-left: 24px;
  margin-bottom: 16px;
  background-color: var(--100-white-color);
  border: 2px solid var(--light-red-color);
  transition: all 300ms ease-out;
}
body header .right_cont .settings .two_icons .amount_messages h3 {
  font-size: var(--11-font-size) !important;
  font-weight: var(--semi-font-weight);
  color: var(--light-red-color);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body header .right_cont .settings .two_icons .navbar_icon_message {
  background-image: url("../images/Chat_red.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 24px 24px;
  background-position: 6px 5px;
}
body header .right_cont .settings .two_icons .navbar_icon_message:hover {
  background-color: var(--light-red-color);
  color: var(--100-white-color);
  transition: all 300ms ease-out;
  background-image: url("../images/Chat_white.svg");
  box-shadow: 0px 4px 12px 0px rgba(255, 166, 166, 0.6);
}
body header .right_cont .settings .two_icons .navbar_icon_message:not(:hover) {
  transition: all 300ms ease-out;
  box-shadow: none;
}
body header .right_cont .settings .two_icons .navbar_icon_notification {
  background-image: url("../images/Notification_red.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 24px 24px;
  background-position: 5px 5px;
}
body header .right_cont .settings .two_icons .navbar_icon_notification:hover {
  background-color: var(--light-red-color);
  color: var(--100-white-color);
  transition: all 300ms ease-out;
  background-image: url("../images/Notification_white.svg");
  box-shadow: 0px 4px 12px 0px rgba(255, 166, 166, 0.6);
}
body header .right_cont .settings .two_icons .navbar_icon_notification:not(:hover) {
  transition: all 300ms ease-out;
  box-shadow: none;
}
body header .logo_vars {
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  background-color: var(--100-white-color);
  border-radius: 8px;
  border: 1px solid var(--grey-line-color);
  position: absolute;
  right: 133px;
  top: 64px;
  width: 196px;
  box-shadow: 0px 10px 13px 0px rgba(27, 44, 49, 0.04);
  opacity: 0;
  transition: all 300ms ease-out;
}
body header .logo_vars h3 {
  font-size: var(--14-font-size);
  font-weight: var(--med-font-weight);
  color: var(--dark-color);
}
body header .logo_vars .profile {
  border-bottom: 1px solid var(--grey-line-color);
  padding-bottom: 10px;
  width: 100%;
}
body .message_opening {
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 32px 24px 0px 24px;
  background-color: var(--100-white-color);
  width: 386px;
  min-height: 1168px;
  border-radius: 0px 24px 24px 0px;
  border-left: 1px solid var(--grey-line-color);
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: scroll;
  z-index: 1000;
}
body .message_opening .upper_menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  min-height: 129px;
  width: 100%;
}
body .message_opening .upper_menu .texts {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
body .message_opening .upper_menu .texts .upper {
  font-size: var(--15-font-size);
  font-weight: var(--med-font-weight);
  color: var(--dark-color);
  text-transform: uppercase;
}
body .message_opening .upper_menu .texts .below {
  font-size: var(--15-font-size);
  font-weight: var(--reg-font-weight);
  color: var(--middle-grey-color);
}
body .message_opening .upper_menu .texts .raiting_5 {
  display: flex;
  gap: 8px;
  font-size: var(--14-font-size);
  font-weight: var(--med-font-weight);
  color: var(--light-red-color);
}
body .message_opening .below_menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
body .message_opening .below_menu .icons_input {
  display: flex;
  align-items: center;
  gap: 8px;
  min-height: 44px;
}
body .message_opening .below_menu .icons_input button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  background-color: transparent;
}
body .message_opening .below_menu .icons_input button img {
  min-width: 24px;
  min-height: 24px;
}
body .message_opening .below_menu .icons_input .input_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 44px;
  padding: 0px 16px;
  border: 1px solid var(--grey-line-color);
  border-radius: 8px;
}
body .message_opening .below_menu .icons_input .input_box .input_field {
  width: 100%;
  height: 80%;
}
body .message_opening .below_menu .chat {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
body .message_opening .below_menu .chat .message {
  display: flex;
  gap: 12px;
}
body .message_opening .below_menu .chat .message .right_cont {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
body .message_opening .below_menu .chat .message .right_cont .texts_upper {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
body .message_opening .below_menu .chat .message .right_cont .texts_upper .above {
  font-size: var(--15-font-size);
  font-weight: var(--med-font-weight);
  color: var(--dark-color);
  text-transform: uppercase;
}
body .message_opening .below_menu .chat .message .right_cont .texts_upper .below {
  font-size: var(--16-font-size);
  font-weight: var(--reg-font-weight);
  color: var(--dark-color);
}
body .message_opening .below_menu .chat .message .right_cont .texts_upper .photo_with_text {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 4px;
}
body .message_opening .below_menu .chat .message .right_cont .texts_upper .photo_with_text .photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 67px;
  background-color: var(--bg-color);
  border: 1px solid var(--grey-line-color);
  border-radius: 16px;
}
body .message_opening .below_menu .chat .message .right_cont .texts_upper .photo_with_text h4 {
  font-size: var(--13-font-size);
  font-weight: var(--reg-font-weight);
  color: var(--middle-grey-color);
}
body .message_opening .text_block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
body .message_opening .text_block h3 {
  font-size: var(--16-font-size);
  font-weight: var(--med-font-weight);
  color: var(--dark-color);
}/*# sourceMappingURL=header.css.map */