/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --bg-color: hsl(220, 10%, 96%);
    --grey-line-color: hsl(0, 0%, 89%);
    --green-price-color: hsl(144, 81%, 40%);
    --100-white-color: hsl(0, 0%, 100%);
    --100-black-color: hsl(0, 0%, 0%);
    --dark-color: hsl(0, 0%, 20%);
    --middle-grey-color: hsl(0, 0%, 52%);
    --super-light-color: hsl(240, 11%, 98%);
    --red-color: hsl(0, 100%, 63%);
    --light-red-color: hsl(0, 100%, 69%);
    --blue-color: hsl(194, 100%, 43%);
    --01-simple-color: hsl(194, 65%, 87%);
    --02-simple-color: hsl(25, 89%, 96%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "IBM Plex Sans", sans-serif;
    --32-font-size: 2rem; // 32px
    --26-font-size: 1.625rem; // 26px
    --24-font-size: 1.5rem; // 24px
    --18-font-size: 1.125rem; // 18px
    --16-font-size: 1rem; //16px
    --15-font-size: .937rem; // 15px
    --14-font-size: .875rem; // 14px
    --11-font-size: .687rem; // 11px
  
    /*========== Font weight ==========*/
    --reg-font-weight: 400;
    --med-font-weight: 500;
    --semi-font-weight: 600;
    --bold-font-weight: 700;
  
    /*========== z index ==========*/
    --z-index-10: 10;
    --z-index-100: 100;
    --z-index-1000: 1000;
  }
  
/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--18-font-size);
    background-color: var(--bg-color);
    color: var(--dark-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--semi-font-weight);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

input, button {
    font-family: var(--body-font);
    outline: none;
    border: none;
}

.input_value {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1rem 0.75rem 0.75rem;
    width: 100%;
    height: 3rem;
    border: 1px solid var(--grey-line-color);
    border-radius: 0.5rem;
    font-size: var(--14-font-size);
    font-weight: var(--med-font-weight);
    gap: 0.75rem;

    input {
        width: 100%;
    }
}

.new_search_field {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--100-white-color);
    border-radius: 8px;
    border: 1px solid var(--grey-line-color);
    padding: 9px 12px;
    width: 100%;
    height: 42px;

    .input_field {
        width: 100%;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/*========== Animations ==========*/
@keyframes opacity_for_filter_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    padding: 24px;

    .new_application {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 32px 178px;
        background-color: var(--100-white-color);
        border-radius: 24px;
        width: 100%;
        height: 100%;
        gap: 38px;

        .above_block {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .block_1 {
                display: flex;
                flex-direction: column;
                gap: 8px;

                h1 {
                    font-size: var(--26-font-size);
                    font-weight: var(--semi-font-weight);
                    color: var(--dark-color);
                }

                .two_texts {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    h3 {
                        font-size: var(--24-font-size);
                        font-weight: var(--med-font-weight);
                        color: var(--dark-color);
                    }
    
                    h4 {
                        font-size: var(--16-font-size);
                        font-weight: var(--reg-font-weight);
                        color: var(--middle-grey-color);
                    }
                }
            }

            .h4_text {
                font-size: var(--16-font-size);
                font-weight: var(--reg-font-weight);
                color: var(--middle-grey-color);
            }

            .note {
                display: flex;
                align-items: center;
                gap: 12px;
                border-top: 1px solid var(--grey-line-color);
                border-bottom: 1px solid var(--grey-line-color);
                padding-top: 16px;
                padding-bottom: 16px;

                .right_text {
                    font-size: var(--16-font-size);
                    font-weight: var(--reg-font-weight);
                    color: var(--middle-grey-color);
                }
            }

            .texts_btn {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .left_right_blocks {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    position: relative;

                    div {
                        display: flex;

                        h3 {
                            font-size: var(--16-font-size);
                            font-weight: var(--med-font-weight);
                            text-wrap: nowrap;
                        }
    
                        .left {
                            color: var(--middle-grey-color);
                        }
    
                        .right {
                            color: var(--dark-color);
                            position: absolute;
                            left: 262px;
                        }
                    }
                }

                .text_link {
                    h3 {
                        font-size: var(--16-font-size);
                        font-weight: var(--med-font-weight);
                        color: var(--light-red-color);
                    }
                }
            }
        }

        h3 {
            font-size: var(--18-font-size);
            font-weight: var(--med-font-weight);
            color: var(--dark-color);
        }

        .middle_block {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;

            .popupsearchbar {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 100%;

                h4 {
                    font-size: var(--18-font-size);
                    font-weight: var(--med-font-weight);
                    color: var(--dark-color);
                }

                .search_btns {
                    display: flex;
                    gap: 8px;
                    width: 100%;

                    .new_search_field {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        background-color: var(--100-white-color);
                        border-radius: 8px;
                        border: 1px solid var(--grey-line-color);
                        padding: 9px 12px;
                        min-width: .75em;
                        min-height: 48px;
                    
                        .input_field {
                            width: 100%;
                        }
                    
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
    
                    .sort_by_date_btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: transparent;
                        gap: 4px;
                        border: 1px solid var(--grey-line-color);
                        min-height: 48px;
                        text-wrap: nowrap;
                        min-width: 192px;
                        border-radius: 8px;
    
                        h3 {
                            font-size: var(--14-font-size);
                            font-weight: var(--med-font-weight);
                            color: var(--dark-color);
                        }
                    }
    
                    .favourites {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 48px;
                        min-height: 48px;
                        border: 1px solid var(--grey-line-color);
                        border-radius: 8px;
                        background-color: transparent;
                    }
                }
            }

            .choose_tk_block {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .TKChoose {
                    display: flex;
                    justify-content: space-between;
                    
                    .left_cont {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        .upper_block {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            h3 {
                                font-size: var(--18-font-size);
                                font-weight: var(--med-font-weight);
                                color: var(--dark-color);
                            }

                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }

                        .middle_block {
                            display: flex;
                            flex-direction: column;
                            gap: 4px;

                            .suggested_price {
                                display: flex;
                                gap: 8px;
                                align-items: center;
                            }

                            .blocks {
                                display: flex;
                                flex-direction: column;

                                .loading_time {
                                    display: flex !important;
                                    gap: 8px;
                                }
    
                                .working_hours {
                                    display: flex !important;
                                    gap: 8px;
                                }
                            }

                            .text_16 {
                                font-size: var(--16-font-size);
                            }

                            .grey_text {
                                font-weight: var(--med-font-weight);
                                color: var(--middle-grey-color);
                            }  
                            
                            .bl_text {
                                font-weight: var(--med-font-weight);
                                color: var(--100-black-color);
                            }

                            .red_text {
                                font-weight: var(--reg-font-weight);
                                color: var(--light-red-color);
                            } 

                            .easy_grey_text {
                                font-weight: var(--reg-font-weight);
                                color: var(--middle-grey-color);
                            }
                        }

                        h3 {
                            font-size: var(--16-font-size);
                            font-weight: var(--med-font-weight);
                            color: var(--middle-grey-color);
                        }
                    }

                    .right_cont {
                        display: flex;
                        align-items: flex-end;
                        flex-direction: column;
                        gap: 19px;

                        .raiting_5 {
                            display: flex;
                            gap: 8px;

                            h3 {
                                font-size: var(--14-font-size);
                                font-weight: var(--med-font-weight);
                                color: var(--light-red-color);
                            }
                        }
                    }

                    .btn_icon {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        button {
                            min-width: 127px;
                            height: 42px;
                            border-radius: 8px;
                            font-size: var(--14-font-size);
                            font-weight: var(--med-font-weight);
                            background-color: var(--100-white-color);
                            color: var(--light-red-color);
                            border: 2px solid var(--light-red-color);
                        }

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 42px;
                            height: 42px;
                            background-color: var(--100-white-color);
                            border: 2px solid var(--light-red-color);
                            border-radius: 100%;
                        }
                    }
                }
            }

            .cancel_application {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-top: 12px;
                margin-bottom: 12px;

                h3 {
                    font-size: var(--14-font-size);
                    font-weight: var(--med-font-weight);
                    color: var(--middle-grey-color);
                }
            }
        }

        .responded {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;

            .upper_texts {
                display: flex;
                flex-direction: column;
                gap: 8px;

                h3 {
                    font-size: var(--18-font-size);
                    font-weight: var(--med-font-weight);
                    color: var(--dark-color);
                }

                .union_texts {
                    display: flex;
                    align-items: center;
                    gap: 24px;

                    h3 {
                        font-size: var(--16-font-size);
                        font-weight: var(--med-font-weight);
                        color: var(--red-color);
                    }
                }
            }

            .union_blocks {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 100%;

                .one_more_task {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    .left_cont {
                        display: flex;
                        align-items: flex-start;
                        gap: 16px;

                        img {
                            cursor: pointer;
                        }

                        .without_click {
                            display: none;
                            opacity: 0;
                        }

                        h3 {
                            font-size: var(--14-font-size);
                            font-weight: var(--reg-font-weight);
                            color: var(--middle-grey-color); 
                        }

                        .texts {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;

                            .upper {
                                font-size: var(--14-font-size);
                                font-weight: var(--med-font-weight);
                                color: var(--dark-color); 
                            }

                            .below_block {
                                display: flex;
                                flex-direction: column;
                                gap: 4px;

                                .middle {
                                    font-size: var(--14-font-size);
                                    font-weight: var(--med-font-weight);
                                    color: var(--middle-grey-color); 
                                }

                                .below {
                                    display: flex;
                                    gap: 24px;

                                    .text {
                                        font-size: var(--14-font-size);
                                        color: var(--middle-grey-color);
                                    }

                                    .left {
                                        font-weight: var(--bold-font-weight);
                                    }

                                    .right {
                                        font-weight: var(--med-font-weight);
                                    }
                                }
                            }
                        }
                    }

                    .right_cont {
                        display: flex;
                        align-items: flex-end;
                        flex-direction: column;
                        gap: 8px;

                        .text_above {
                            font-size: var(--16-font-size);
                            font-weight: var(--med-font-weight);
                            color: var(--dark-color);
                        }

                        .text_below {
                            font-size: var(--16-font-size);
                            font-weight: var(--reg-font-weight);
                            color: var(--light-red-color);
                        }
                    }
                }
            }

            h3 {
                font-size: var(--18-font-size);
                font-weight: var(--med-font-weight);
                color: var(--dark-color);
            }
        }

        .union_btns {
            display: flex;
            gap: 8px;
            width: 100%;

            button {
                border-radius: 8px;
                font-size: var(--14-font-size);
                font-weight: var(--med-font-weight);
            }

            .filled {
                width: 196px;
                height: 48px;
                background: var(--light-red-color);
                color: var(--100-white-color);
            }

            .empty {
                width: 106px;
                height: 48px;
                color: var(--light-red-color);
                border: 2px solid var(--light-red-color);
                background-color: transparent;
            }
        }
    }
}