<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/add_recipient.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main_block">
        <div class="left_cont">
            <div class="upper">
                <h1>Создание заявки</h1>
                <div class="block_1">
                    <div class="block">
                        <div class="text_star">
                            <h3>Транспортное средство</h3>
                            <img src="{{ url_for('static', filename='images/small_star_red.svg') }}" alt="The picture did not load">
                        </div>
                        <div class="choose_bar">
                            <h3>Выберите авто</h3>
                            <img src="{{ url_for('static', filename='images/chevron-down_dark.svg') }}" alt="The picture did not load">
                        </div>
                        <a href="#"><h3>Добавить а/м</h3></a>
                    </div>
                    <div class="block">
                        <div class="text_star">
                            <h3>Адрес погрузки</h3>
                            <img src="{{ url_for('static', filename='images/small_star_red.svg') }}" alt="The picture did not load">
                        </div>
                        <div class="choose_bar">
                            <h3>Выберите склад</h3>
                            <img src="{{ url_for('static', filename='images/chevron-down_dark.svg') }}" alt="The picture did not load">
                        </div>
                    </div>
                </div>
                <div class="block_1 special">
                    <div class="block">
                        <div class="text_star">
                            <h3>Адрес доставки</h3>
                            <img src="{{ url_for('static', filename='images/small_star_red.svg') }}" alt="The picture did not load">
                        </div>
                        <div class="choose_bar">
                            <input type="text" placeholder="Введите адрес в свободной форме">
                        </div>
                    </div>
                </div>
                <div class="block_1 another_form">
                    <div class="block">
                        <div class="text_star">
                            <h3 class="grey_text">Получатель</h3>
                            <img src="{{ url_for('static', filename='images/small_star_red.svg') }}" alt="The picture did not load">
                        </div>
                        <div class="choose_bar">
                            <h3 class="grey_text">Выберите получателя</h3>
                            <img src="{{ url_for('static', filename='images/chevron-down_grey.svg') }}" alt="The picture did not load">
                        </div>
                    </div>
                    <div class="add_recipient">
                        <a href="#"><h3>+ Добавить получателя</h3></a>
                    </div>
                </div>
                <div class="below_block">
                    <div class="left_side">
                        <h3>Тип автовоза</h3>
                        <div class="tab_2">
                            <button class="filled">Стандартный</button>
                            <button class="empty">Крытый</button>
                        </div>
                    </div>
                    <div class="right_side">
                        <h3>Комментарий для ТК</h3>
                        <div class="input_box"><input type="text"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_cont">
            <div class="upper_cont">
                <div class="choose_block">
                    <h3>Выберите дату доставки</h3>
                    <div class="choose_bar">
                        <h3>Выберите дату</h3>
                        <img src="{{ url_for('static', filename='images/chevron-down_dark.svg') }}" alt="The picture did not load">
                    </div>
                </div>
                <div class="choose_block">
                    <h3>Временной интервал</h3>
                    <div class="choose_bar">
                        <h3>Выберите интервал</h3>
                        <img src="{{ url_for('static', filename='images/chevron-down_dark.svg') }}" alt="The picture did not load">
                    </div>
                </div>
                <div class="transportation_price">
                    <div class="text_icon">
                        <h3>Цена перевозки</h3>
                        <img src="{{ url_for('static', filename='images/False_red.svg') }}" alt="The picture did not load">
                    </div>
                    <h1>0 ₽</h1>
                </div>
            </div>
            <div class="below_cont">
                <button class="filled">Создать</button>
                <button class="outline">Закрыть</button>
            </div>
        </div>
    </div>

    <div class="black_overlay">
        <div class="add_recipient_individual">
            <div class="upper_cont">
                <div class="two_btns">
                    <button class="outline">Юридическое лицо</button>
                    <button class="filled">Физическое лицо</button>
                </div>
            </div>
            <h1>Добавить получателя</h1>
            <div class="below_cont">
                <div class="surname_name">
                    <div class="block">
                        <h3>Фамилия</h3>
                        <div class="input_box">
                            <img class="Edit_Square_grey" src="{{ url_for('static', filename='images/Edit_Square_grey.svg') }}" alt="The picture did not load">
                            <input class="input" type="text">
                        </div>
                    </div>
                    <div class="block">
                        <h3>Имя</h3>
                        <div class="input_box">
                            <img class="Edit_Square_grey" src="{{ url_for('static', filename='images/Edit_Square_grey.svg') }}" alt="The picture did not load">
                            <input class="input" type="text">
                        </div>
                    </div>
                    <div class="block">
                        <h3>Отчество</h3>
                        <div class="input_box">
                            <img class="Edit_Square_grey" src="{{ url_for('static', filename='images/Edit_Square_grey.svg') }}" alt="The picture did not load">
                            <input class="input" type="text">
                        </div>
                    </div>
                    <div class="block">
                        <h3>Телефон</h3>
                        <div class="input_box">
                            <img class="Edit_Square_grey" src="{{ url_for('static', filename='images/Edit_Square_grey.svg') }}" alt="The picture did not load">
                            <input class="input" type="text">
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h3>Документ</h3>
                    <div class="input_box">
                        <img class="Edit_Square_grey" src="{{ url_for('static', filename='images/Edit_Square_grey.svg') }}" alt="The picture did not load">
                        <input class="input" type="text">
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <button class="below_btn">Добавить</button>
        </div>
    </div>

    <div class="go_back">
        <img class="arrow_left_white" src="{{ url_for('static', filename='images/arrow_left_white.svg') }}" alt="The picture did not load"> 
        <h3>Вернуться назад</h3>
    </div>

    <script src="{{ url_for('static', filename='scripts/add_recipient.js') }}"></script>
</body>
</html>