<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo_owwl_image.svg') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo_owwl.svg') }}" alt="The picture did not load">
        <div class="right_cont">
            <ul>
                <li><a href="#" class="auto_redir_text">А/м и склады</a></li>
                <li><a href="#" class="tk_list_text">Список ТК</a></li>
                <li><a href="#" class="doc_log_text">Журнал документов</a></li>
                <li><a href="#" class="ques_ans_text">Вопрос ответ</a></li>
            </ul>
            <div class="settings">
                <div class="logo_and_options">
                    <img src="{{ url_for('static', filename='images/ava_no_updates.svg') }}" alt="The picture did not load">
                    <div class="text_icon">
                        <h4 class="logo_text">Favorit Motors</h4>
                        <a href="#"><img src="{{ url_for('static', filename='images/chevron-down.svg') }}" alt="The picture did not load"></a>
                    </div>
                </div>
                <div class="two_icons">
                    <div class="icon navbar_icon_message"></div>
                    <div class="icon navbar_icon_notification"></div>

                    <div class="amount_messages">
                        <h3 class="amount_messages_text">3</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="logo_vars">
            <h3 class="profile">Профиль</h3>
            <h3 class="out">Выйти</h3>
        </div>
    </header>

    <div class="message_opening">
        <div class="upper_menu">
            <img src="{{ url_for('static', filename='images/tk_avatar_1.png') }}" alt="The picture did not load">
            <div class="texts">
                <h3 class="upper">Чат с Cargo Unicorn</h3>
                <h3 class="below">№ Заявки 31434 234321</h3>
                <div class="raiting_5">
                    <h3>5.0</h3> 
                    <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                    <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                    <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                    <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                    <img src="{{ url_for('static', filename='images/ant-design_grey.svg') }}" alt="The picture did not load">
                 </div>
            </div>
        </div>
        <div class="below_menu">
            <form action="" method="post" class="icons_input" enctype="multipart/form-data">
                <button class="open_img_btn">
                    <img class="choose_img" src="{{ url_for('static', filename='images/Image_2_red.svg') }}" alt="The picture did not load">
                </button>
                <div class="input_box">
                    <input class="input_field" name="text_input" type="text" placeholder="Напишите сообщение">
                </div>
                <button class="send_btn" name="chat_form" type="submit">
                    <img src="{{ url_for('static', filename='images/Send_red.svg') }}" alt="The picture did not load">
                </button>
            </form>
        </div>
        {% if messages_lst|length == 0 %}
            <div class="text_block">
                <h3>Сообщений нет</h3>
            </div>
        {% else %}
            <div class="spec_block">
                {% for mes in messages_lst %}
                    <div class="message_block">
                        <img src="{{ url_for('static', filename='images/user_avatar.svg') }}" alt="The picture did not load">
                        <div class="right_cont">
                            <div class="two_upper_texts">
                                <h3>Favorit Motors</h3>
                                <h4>{{ mes[0] }}</h4>
                            </div>
                            <h1 class="below_text_h1">{{ mes[-1] }}</h1>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% block main_cont %}{% endblock %}

    {% block script %}{% endblock %}

    <script>      
        var amountMessages = document.querySelector(".amount_messages");
        var messageOpening = document.querySelector(".message_opening");
        messageOpening.style.display = 'none';

        function isClickOutsideElement(element, event) {
            return !element.contains(event.target);
        }

        var logoText = document.querySelector(".logo_text");
        var logoVars = document.querySelector(".logo_vars");

        logoText.addEventListener('click', function(event) {
            logoVars.style.display = 'flex';
            logoVars.style.opacity = '1';
        })

        document.addEventListener("click", function(event) {
            if (!messageOpening.contains(event.target)) {
                messageOpening.style.display = 'none'; 
                messageOpening.style.opacity = '0';
                messageOpened = false;
            }
            if (!inputBox.contains(event.target) && messageOpening.contains(event.target)) {
                inputBox.style.border = '1px solid rgba(227, 227, 227, 1)'; 
            }
            if (isClickOutsideElement(logoVars, event) && event.target !== logoText) {
                logoVars.style.display = 'none';
                logoVars.style.opacity = '0';
            }
        });

        // for opening message right option
        var navbarIconMessage = document.querySelector(".navbar_icon_message")
        navbarIconMessage.addEventListener('click', function() {
            event.stopPropagation();
            var messageOpening = document.querySelector(".message_opening");
            if (messageOpening.style.display === 'none') {
                messageOpening.style.display = 'flex';
                messageOpening.style.opacity = '1';
                inputBox.style.border = '1px solid rgba(227, 227, 227, 1)'; 
                messageOpened = true;
            }
        })

        // red input box color changing
        var inputBox = document.querySelector('.input_box')

        inputBox.addEventListener("click", function(event) {
            inputBox.style.border = '1px solid rgba(255, 98, 98, 1)'; 
        });

        document.addEventListener('keydown', function(event) {
            if (event.key === "Escape") {
                inputBox.style.border = '1px solid rgba(227, 227, 227, 1)';
            }
        });

        // for redirection
        var out = document.querySelector('.out')
        out.addEventListener("click", function(event) {
            window.location.href = 'login';
        });

        var autoRedirText = document.querySelector('.auto_redir_text')
        var tkListText = document.querySelector('.tk_list_text')
        var docLogText = document.querySelector('.doc_log_text')
        var quesAnsText = document.querySelector('.ques_ans_text')

        var profile_redir = document.querySelector('h3.profile')
        profile_redir.addEventListener("click", function(event) {
            window.location.href = 'profile';
        });

        autoRedirText.addEventListener("click", function(event) {
            window.location.href = 'auto';
        });

        document.querySelector('.navbar_icon_notification').addEventListener("click", function(event) {
            window.location.href = 'notifications_center';
        });
    </script>
</body>
</html>