<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Исполнитель выбран</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo_owwl_image.svg') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/popup_window_performer_selected.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="new_application">
        <div class="above_block">
            <div class="block_1">
                <h1>Москва - Зеленоград</h1>
                <div class="two_texts">
                    <h3>5 000 ₽</h3>
                    <h4>(включая НДС)</h4>
                </div>
            </div>
            <h4 class="h4_text">BMW 7 серии VI (G11/G12) 740d xDrive</h4>
            <div class="note">
                <img src="{{ url_for('static', filename='images/Edit_Square_grey.svg') }}" alt="The picture did not load">
                <h4 class="right_text">Заметка</h4>
            </div>
            <div class="texts_btn">
                <div class="left_right_blocks">
                    <div>
                        <h3 class="left">VIN номер втомобиля</h3>
                        <h3 class="right">X96330232F268854</h3>
                    </div>
                    <div>
                        <h3 class="left">Адрес погрузки</h3>
                        <h3 class="right">Москва, Случайный п., массив 1, стр. 2 (часы работы: с 7 до 18)</h3>
                    </div>
                    <div>
                        <h3 class="left">Адрес доставки</h3>
                        <h3 class="right">г. Зеленоград, ул. Сибирский тракт, 48</h3>
                    </div>
                </div>
                <a href="#" class="text_link"><h3>Подробнее</h3></a>
            </div>
        </div>
        <h3>Выбранная ТК</h3>
        <div class="middle_block">
            <div class="choose_tk_block">
                <div class="TKChoose">
                    <div class="left_cont">
                        <div class="upper_block">
                            <a href="#"><img src="{{ url_for('static', filename='images/tk_avatar_1.png') }}" alt="The picture did not load"></a>
                            <h3>Cargo Unicorn</h3>
                            <a href="#"><img src="{{ url_for('static', filename='images/Bookmark_grey.svg') }}" alt="The picture did not load"></a>
                        </div>
                        <div class="middle_block">
                            <div class="suggested_price">
                                <h3 class="text_16 grey_text">Предложенная цена:</h3>
                                <h3 class="text_16 bl_text">6 000 ₽</h3>
                                <h3 class="text_16 red_text">(+1000 ₽)</h3>
                                <h3 class="text_16 easy_grey_text">(Включая НДС)</h3>
                            </div>
                            <div class="blocks">
                                <div class="loading_time">
                                    <h3 class="text_16 grey_text">Срок погрузки:</h3>                            <div class="working_hours">
                                    <h3 class="text_16 bl_text">12.03.22</h3>
                                </div>
                                <div class="working_hours">
                                    <h3 class="text_16 grey_text">Время работы на сайте</h3>                            <div class="working_hours">
                                    <h3 class="text_16 bl_text">1 год и 2 мес.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>1 час назад</h3>
                
                    </div>
                    <div class="right_cont">
                        <div class="raiting_5">
                           <h3>5.0</h3> 
                           <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                           <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                           <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                           <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                           <img src="{{ url_for('static', filename='images/ant-design_grey.svg') }}" alt="The picture did not load">
                        </div>
                        <div class="btn_icon">
                            <button>ТК Выбрано</button>
                            <a href="#"><img src="{{ url_for('static', filename='images/Chat_red.svg') }}" alt="The picture did not load"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="responded">
            <div class="upper_texts">
                <h3>Cargo Unicom так же откликнулась на 4 ваши заявки</h3>
                <div class="union_texts">
                    <a><h3 class="choose_all_btn">Выбрать все</h3></a>
                    <a><h3 class="delete_choice_btn">Отменить выбор</h3></a>
                </div>
            </div>
            <div class="union_blocks">
                <div class="one_more_task">
                    <div class="left_cont">
                        <h3>1</h3>
                        <div class="checkbox checkbox_1">
                            <img class="checkbox_1_img" src="{{ url_for('static', filename='images/check.svg') }}" alt="The picture did not load">
                        </div>
                        <div class="texts">
                            <h3 class="upper">BMW 7 серии VI (G11/G12) 740d xDrive</h3>
                            <div class="below_block">
                                <h3 class="middle">Москва-Зеленоград</h3>
                                <div class="below">
                                    <h3 class="text left">X96330232F268854</h3>
                                    <h3 class="text right">00001/210305</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_cont">
                        <h3 class="text_above">6 000 ₽</h3>
                        <h3 class="text_below">(+1000 ₽)</h3>
                    </div>
                </div>
                <div class="one_more_task">
                    <div class="left_cont">
                        <h3>2</h3>
                        <div class="checkbox checkbox_2">
                            <img class="checkbox_2_img" src="{{ url_for('static', filename='images/check.svg') }}" alt="The picture did not load">
                        </div>
                        <div class="texts">
                            <h3 class="upper">BMW 7 серии VI (G11/G12) 740d xDrive</h3>
                            <div class="below_block">
                                <h3 class="middle">Москва-Зеленоград</h3>
                                <div class="below">
                                    <h3 class="text left">X96330232F268854</h3>
                                    <h3 class="text right">00001/210305</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_cont">
                        <h3 class="text_above">6 000 ₽</h3>
                        <h3 class="text_below">(+1000 ₽)</h3>
                    </div>
                </div>
                <div class="one_more_task">
                    <div class="left_cont">
                        <h3>3</h3>
                        <div class="checkbox checkbox_3">
                            <img class="checkbox_3_img" src="{{ url_for('static', filename='images/check.svg') }}" alt="The picture did not load">
                        </div>
                        <div class="texts">
                            <h3 class="upper">BMW 7 серии VI (G11/G12) 740d xDrive</h3>
                            <div class="below_block">
                                <h3 class="middle">Москва-Зеленоград</h3>
                                <div class="below">
                                    <h3 class="text left">X96330232F268854</h3>
                                    <h3 class="text right">00001/210305</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_cont">
                        <h3 class="text_above">6 000 ₽</h3>
                        <h3 class="text_below">(+1000 ₽)</h3>
                    </div>
                </div>
                <div class="one_more_task">
                    <div class="left_cont">
                        <h3>4</h3>
                        <div class="checkbox checkbox_4">
                            <img class="checkbox_4_img" src="{{ url_for('static', filename='images/check.svg') }}" alt="The picture did not load">
                        </div>
                        <div class="texts">
                            <h3 class="upper">BMW 7 серии VI (G11/G12) 740d xDrive</h3>
                            <div class="below_block">
                                <h3 class="middle">Москва-Зеленоград</h3>
                                <div class="below">
                                    <h3 class="text left">X96330232F268854</h3>
                                    <h3 class="text right">00001/210305</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_cont">
                        <h3 class="text_above">6 000 ₽</h3>
                        <h3 class="text_below">(+1000 ₽)</h3>
                    </div>
                </div>
            </div>
            <h3>На сумму: 20 000 руб.</h3>
        </div>
        <div class="union_btns">
            <button class="filled">Выбрать для 4 заявок</button>
            <button class="empty">Закрыть</button>
        </div>
    </div>

    <script>
        var chooseAllBtn = document.querySelector('.choose_all_btn')
        var deleteChoiceBtn = document.querySelector('.delete_choice_btn')

        var checkbox1 = document.querySelector('.checkbox_1')
        var checkbox2 = document.querySelector('.checkbox_2')
        var checkbox3 = document.querySelector('.checkbox_3')
        var checkbox4 = document.querySelector('.checkbox_4')

        var checkboxImg1 = document.querySelector('.checkbox_1_img')
        var checkboxImg2 = document.querySelector('.checkbox_2_img')
        var checkboxImg3 = document.querySelector('.checkbox_3_img')
        var checkboxImg4 = document.querySelector('.checkbox_4_img')

        var btnFilled = document.querySelector('.filled')
        var btnEmpty = document.querySelector('.empty')

        checkbox1.addEventListener('click', function() {
            if (checkboxImg1.style.display === 'none') {
                checkboxImg1.style.display = 'flex'
            } else {
                checkboxImg1.style.display = 'none'
            }
        });

        checkbox2.addEventListener('click', function() {
            if (checkboxImg2.style.display === 'none') {
                checkboxImg2.style.display = 'flex'
            } else {
                checkboxImg2.style.display = 'none'
            }
        });

        checkbox3.addEventListener('click', function() {
            if (checkboxImg3.style.display === 'none') {
                checkboxImg3.style.display = 'flex'
            } else {
                checkboxImg3.style.display = 'none'
            }
        });

        checkbox4.addEventListener('click', function() {
            if (checkboxImg4.style.display === 'none') {
                checkboxImg4.style.display = 'flex'
            } else {
                checkboxImg4.style.display = 'none'
            }
        });
        
        chooseAllBtn.addEventListener('click', function() {
            checkboxImg1.style.display = 'flex';
            checkboxImg2.style.display = 'flex';
            checkboxImg3.style.display = 'flex';
            checkboxImg4.style.display = 'flex';
        });

        deleteChoiceBtn.addEventListener('click', function() {
            checkboxImg1.style.display = 'none';
            checkboxImg2.style.display = 'none';
            checkboxImg3.style.display = 'none';
            checkboxImg4.style.display = 'none';
        });

        function handleClick() {
            window.location.href = 'main_page';
        }

        btnFilled.addEventListener('click', handleClick);
        btnEmpty.addEventListener('click', handleClick);
    </script>
</body>
</html>