<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/popup_window_with_responses.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="new_application">
        <div class="above_block">
            <div class="block_1">
                <h1>Москва - Зеленоград</h1>
                <div class="two_texts">
                    <h3>5 000 ₽</h3>
                    <h4>(включая НДС)</h4>
                </div>
            </div>
            <h4 class="h4_text">BMW 7 серии VI (G11/G12) 740d xDrive</h4>
            <div class="note">
                <img src="{{ url_for('static', filename='images/Edit_Square_grey.svg') }}" alt="The picture did not load">
                <h4 class="right_text">Заметка</h4>
            </div>
            <div class="texts_btn">
                <div class="left_right_blocks">
                    <div>
                        <h3 class="left">Номер заявки</h3>
                        <h3 class="right">#00001/210305и</h3>
                    </div>
                    <div>
                        <h3 class="left">Дата создания заявки</h3>
                        <h3 class="right">24.03.21</h3>
                    </div>
                    <div>
                        <h3 class="left">Дата доставки</h3>
                        <h3 class="right">24.03.21 (с 12 до 18 ч) </h3>
                    </div>
                    <div>
                        <h3 class="left">VIN номер втомобиля</h3>
                        <h3 class="right">X96330232F268854</h3>
                    </div>
                    <div>
                        <h3 class="left">Марка и модель автомобиля</h3>
                        <h3 class="right">BMW 7 серии VI (G11/G12) 740d xDrive</h3>
                    </div>
                    <div>
                        <h3 class="left">Адрес погрузки</h3>
                        <h3 class="right">Москва, Случайный п., массив 1, стр. 2 (часы работы: с 7 до 18)</h3>
                    </div>
                    <div>
                        <h3 class="left">Адрес доставки</h3>
                        <h3 class="right">г. Зеленоград, ул. Сибирский тракт, 48</h3>
                    </div>
                    <div>
                        <h3 class="left">Тип автовоза</h3>
                        <h3 class="right">Крытый</h3>
                    </div>
                    <div>
                        <h3 class="left">Комментарий для ТК</h3>
                        <h3 class="right">-</h3>
                    </div>
                </div>
                <a href="#" class="text_link"><h3>Свернуть</h3></a>
            </div>
        </div>
        <div class="middle_block">
            <div class="popupsearchbar">
                <h4>Отклики (4)</h4>
                <div class="search_btns">
                    <div class="new_search_field">
                        <a href="#"><img src="{{ url_for('static', filename='images/Search.svg') }}" alt="The picture did not load"></a>
                        <input class="input_field" type="text" placeholder="Поиск">
                    </div>
                    <div class="sort_by_date_btn">
                        <h3>Сортировать по дате</h3>
                        <img src="{{ url_for('static', filename='images/chevron-down_dark.svg') }}" alt="The picture did not load">
                    </div>
                    <button class="favourites"><img src="{{ url_for('static', filename='images/Bookmark_dark.svg') }}" alt="The picture did not load"></button>
                </div>
            </div>
            <div class="choose_tk_block">
                <div class="TKChoose">
                    <div class="left_cont">
                        <div class="upper_block">
                            <a href="#"><img src="{{ url_for('static', filename='images/tk_avatar_1.png') }}" alt="The picture did not load"></a>
                            <h3>Cargo Unicorn</h3>
                            <a href="#"><img src="{{ url_for('static', filename='images/Bookmark_grey.svg') }}" alt="The picture did not load"></a>
                        </div>
                        <div class="middle_block">
                            <div class="suggested_price">
                                <h3 class="text_16 grey_text">Предложенная цена:</h3>
                                <h3 class="text_16 bl_text">6 000 ₽</h3>
                                <h3 class="text_16 red_text">(+1000 ₽)</h3>
                                <h3 class="text_16 easy_grey_text">(Включая НДС)</h3>
                            </div>
                            <div class="blocks">
                                <div class="loading_time">
                                    <h3 class="text_16 grey_text">Срок погрузки:</h3>                            <div class="working_hours">
                                    <h3 class="text_16 bl_text">12.03.22</h3>
                                </div>
                                <div class="working_hours">
                                    <h3 class="text_16 grey_text">Время работы на сайте</h3>                            <div class="working_hours">
                                    <h3 class="text_16 bl_text">1 год и 2 мес.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>1 час назад</h3>
                
                    </div>
                    <div class="right_cont">
                        <div class="raiting_5">
                           <h3>5.0</h3> 
                           <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                           <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                           <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                           <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                           <img src="{{ url_for('static', filename='images/ant-design_grey.svg') }}" alt="The picture did not load">
                        </div>
                        <div class="btn_icon">
                            <button onclick="tkChooseBtnClicked()" class="tk_choose_btn">Выбрать ТК</button>
                            <a href="#"><img src="{{ url_for('static', filename='images/Chat_red.svg') }}" alt="The picture did not load"></a>
                        </div>
                    </div>
                </div>
                <div class="TKChoose">
                    <div class="left_cont">
                        <div class="upper_block">
                            <a href="#"><img src="{{ url_for('static', filename='images/tk_avatar_2.png') }}" alt="The picture did not load"></a>
                            <h3>ТК Экспресс</h3>
                            <a href="#"><img src="{{ url_for('static', filename='images/Bookmark_grey.svg') }}" alt="The picture did not load"></a>
                        </div>
                        <div class="middle_block">
                            <div class="suggested_price">
                                <h3 class="text_16 grey_text">Предложенная цена:</h3>
                                <h3 class="text_16 bl_text">6 000 ₽</h3>
                                <h3 class="text_16 red_text">(+1000 ₽)</h3>
                                <h3 class="text_16 easy_grey_text">(Включая НДС)</h3>
                            </div>
                            <div class="blocks">
                                <div class="loading_time">
                                    <h3 class="text_16 grey_text">Срок погрузки:</h3>                            <div class="working_hours">
                                    <h3 class="text_16 bl_text">12.03.22</h3>
                                </div>
                                <div class="working_hours">
                                    <h3 class="text_16 grey_text">Время работы на сайте</h3>                            <div class="working_hours">
                                    <h3 class="text_16 bl_text">1 год и 2 мес.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>1 час назад</h3>
                </div>
                    <div class="right_cont">
                        <div class="raiting_5">
                           <h3>5.0</h3> 
                           <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                           <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                           <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                           <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                           <img src="{{ url_for('static', filename='images/ant-design_grey.svg') }}" alt="The picture did not load">
                        </div>
                        <div class="btn_icon">
                            <button onclick="tkChooseBtnClicked()" class="tk_choose_btn">Выбрать ТК</button>
                            <a href="#"><img src="{{ url_for('static', filename='images/Chat_red.svg') }}" alt="The picture did not load"></a>
                        </div>
                    </div>
                </div>
                <div class="TKChoose">
                    <div class="left_cont">
                        <div class="upper_block">
                            <a href="#"><img src="{{ url_for('static', filename='images/tk_avatar_3.png') }}" alt="The picture did not load"></a>
                            <h3>ТК Скорость</h3>
                            <a href="#"><img src="{{ url_for('static', filename='images/Bookmark_grey.svg') }}" alt="The picture did not load"></a>
                        </div>
                        <div class="middle_block">
                            <div class="suggested_price">
                                <h3 class="text_16 grey_text">Предложенная цена:</h3>
                                <h3 class="text_16 bl_text">6 000 ₽</h3>
                                <h3 class="text_16 red_text">(+1000 ₽)</h3>
                                <h3 class="text_16 easy_grey_text">(Включая НДС)</h3>
                            </div>
                            <div class="blocks">
                                <div class="loading_time">
                                    <h3 class="text_16 grey_text">Срок погрузки:</h3>
                                    <h3 class="text_16 bl_text">12.03.22</h3>
                                </div>
                                <div class="working_hours">
                                    <h3 class="text_16 grey_text">Время работы на сайте</h3>
                                    <h3 class="text_16 bl_text">1 год и 2 мес.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_cont">
                        <div class="raiting_5">
                            <h3>5.0</h3> 
                            <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                            <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                            <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                            <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                            <img src="{{ url_for('static', filename='images/ant-design_grey.svg') }}" alt="The picture did not load">
                        </div>
                        <div class="btn_icon">
                            <button onclick="tkChooseBtnClicked()" class="tk_choose_btn">Выбрать ТК</button>
                            <a href="#"><img src="{{ url_for('static', filename='images/Chat_red.svg') }}" alt="The picture did not load"></a>
                        </div>
                    </div>
                </div>
                <h3>1 час назад</h3>
            </div>
        </div>
        <div class="cancel_application">
            <img src="{{ url_for('static', filename='images/Delete_grey.svg') }}" alt="The picture did not load">
            <h3>Отменить заявку</h3>
        </div>
    </div>
    </div>
    <div class="right_side">
        <div class="upper_menu">
            <img src="{{ url_for('static', filename='images/tk_avatar_1.png') }}" alt="The picture did not load">
            <div class="texts">
                <h3 class="upper">Чат с Cargo Unicorn</h3>
                <h3 class="below">№ Заявки 31434 234321</h3>
                <div class="raiting_5">
                    <h3>5.0</h3> 
                    <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                    <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                    <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                    <img src="{{ url_for('static', filename='images/ant-design_red.svg') }}" alt="The picture did not load">
                    <img src="{{ url_for('static', filename='images/ant-design_grey.svg') }}" alt="The picture did not load">
                 </div>
            </div>
        </div>
        <div class="below_menu">
            <div class="icons_input">
                <a href="#"><img src="{{ url_for('static', filename='images/Image_2_red.svg') }}" alt="The picture did not load"></a>
                <div class="input_box">
                    <input class="input_field" type="text" placeholder="Напишите сообщение">
                </div>
                <a href="#"><img src="{{ url_for('static', filename='images/Send_red.svg') }}" alt="The picture did not load"></a>
            </div>
            <div class="chat">
                <div class="message">
                    <a href="#"><img src="{{ url_for('static', filename='images/user_avatar.svg') }}" alt="The picture did not load"></a>
                    <div class="right_cont">
                        <div class="texts_upper">
                            <h3 class="above">Favorit Motors</h3>
                            <h3 class="below">Когда ожидается погрузка?</h3>
                        </div>
                        <h3>22.20.21 12:00</h3>
                    </div>
                </div>
                <div class="message">
                    <a href="#"><img src="{{ url_for('static', filename='images/tk_avatar_1.png') }}" alt="The picture did not load"></a>
                    <div class="right_cont">
                        <div class="texts_upper">
                            <h3 class="above">Cargo Unicorn</h3>
                            <h3 class="below">В ближайшее время...</h3>
                        </div>
                        <h3>22.20.21 12:00</h3>
                    </div>
                </div>
                <div class="message">
                    <a href="#"><img src="{{ url_for('static', filename='images/tk_avatar_1.png') }}" alt="The picture did not load"></a>
                    <div class="right_cont">
                        <div class="texts_upper">
                            <h3 class="above">Cargo Unicorn</h3>
                            <div class="photo_with_text">
                                <div class="photo">
                                    <img src="{{ url_for('static', filename='images/contract.jpg') }}" alt="The picture did not load">
                                </div>
                                <h4>Доверенность ТК (432 кб)</h4>
                            </div>
                            <h3 class="below">Вот документ</h3>
                        </div>
                        <h3>22.20.21 12:00</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/script_1.js') }}"></script>
</body>
</html>