<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация Склада</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/warehouses_registration.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <h1>Добавить склад</h1>
        <div class="title_address">
            <div class="text_input_field">
                <div class="text_icon">
                    <h3>Название</h3>
                    <img src="{{ url_for('static', filename='images/Small_star_red.svg') }}" alt="The picture did not load">
                </div>
                <div class="input_field">
                    <input class="vin title_input" type="text" placeholder="Назовите ваш склад">
                </div>
            </div>
            <div class="text_input_field">
                <div class="text_icon">
                    <h3>Введите адрес</h3>
                    <img src="{{ url_for('static', filename='images/Small_star_red.svg') }}" alt="The picture did not load">
                </div>
                <div class="input_field" onclick="inputField()">
                    <input class="vin address_input" type="text" placeholder="Москва, Ленинградский проспект, 72к4">
                </div>
                <div class="drop_down_list">
                    <div class="firm">
                        <h3>ООО Рассвет</h3>
                        <h4>Юр. лицо</h4>
                    </div>
                    <div class="line"></div>
                    <div class="firm">
                        <h3>ООО Ромашка</h3>
                        <h4>Юр. лицо</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="legal_entity">
            <div class="text_icon">
                <h3>Юридическое лицо</h3>
                <img src="{{ url_for('static', filename='images/Small_star_red.svg') }}" alt="The picture did not load">
            </div>
            <a href="#" class="standart_red_link"><h3>+ Добавить</h3></a>
        </div>
        <button class="grey_btn" onclick="greyBtnClicked()">Зарегистрировать</button>
    </section>

    <script>
        // Button color processing
        var titleInput = document.querySelector('.title_input');
        var addressInput = document.querySelector('.address_input');
        var greyBtn = document.querySelector('.grey_btn');
        var thereIsTextInput1 = false;
        var thereIsTextInput2 = false;

        function checkInputFirst() {
            if (titleInput.value.trim() !== '') {
                thereIsTextInput1 = true;
            } else {
                thereIsTextInput1 = false;
            }
            paintButton()
        }

        function checkInputSecond() {
            if (addressInput.value.trim() !== '') {
                thereIsTextInput2 = true;
            } else {
                thereIsTextInput2 = false;
            }
            paintButton()
        }

        function paintButton() {
            if (thereIsTextInput1 && thereIsTextInput2) {
                greyBtn.style.backgroundColor = '#FF6262';
                greyBtn.style.color = '#FFFFFF';
            } else {
                greyBtn.style.backgroundColor = '#F3F4F5';
                greyBtn.style.color = '#858585';
            }
        }

        titleInput.addEventListener('input', checkInputFirst);
        addressInput.addEventListener('input', checkInputSecond);
        // by default
        window.addEventListener('load', checkInputFirst);
        window.addEventListener('load', checkInputSecond);

        // button pressing
        function greyBtnClicked() {
            if (thereIsTextInput1 && thereIsTextInput2) {
                window.location.href = 'warehouses';
            }
        }

        // Enter the address

        function inputField() {
            var drop_down_list = document.querySelector('.drop_down_list');
            if (drop_down_list.style.display === "flex") {
                drop_down_list.style.display = "none";
                drop_down_list.style.opacity = "0";
                document.removeEventListener("click", closeInputFieldOutside);
            } else {
                drop_down_list.style.display = "flex";
                drop_down_list.style.opacity = "1";
                document.addEventListener("click", closeInputFieldOutside);
            }
        }

        function closeInputFieldOutside(event) {
            var addressInput = document.querySelector(".address_input");

            if (!addressInput.contains(event.target)) {
                var drop_down_list = document.querySelector('.drop_down_list');
                drop_down_list.style.display = "none";
                drop_down_list.style.opacity = "0";
                document.removeEventListener("click", closeInputFieldOutside);
            }
        }
    </script>
</body>
</html>